body {
  margin: 0;
  padding: 0;
}

#main {
  background-image: url('../assets/img/jesus-kiteque-224069.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

#img1-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

#nav {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 60px;
  line-height: 70px;
  color: #ffffff;
  font-family: 'Julius Sans One', sans-serif;
  position: fixed;

}

#nav h1 {
  font-weight: 500;
  float: left;
  padding-left: 20px;
  font-size: 30px;
}

#nav ul {
  float:right;
  margin-right: 30px;
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
}

#nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}

#nav ul li:hover {
  background: white;
}

#body_text ul li {
  list-style-type: none;
  display: inline-block;
  padding: 40px;
  color: #ffffff;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
}

#body_text ul {
  text-align: center;
  padding-top: 270px;
  text-decoration: underline;
}

.about {
  height: 200px;
}

#me {
  text-align: center;
}

#me h3 {
  font-size: 60px;
 font-family: 'Josefin Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#me p {
  font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

#col-mid-4 {
  display: inline-block;
  align-items: center;
  padding: 30px;
  text-align: center;
}

#col-mid-4 p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.projects {
  padding-top: 100px;
  height: 600px;
  background: rgba(255,255,255,0.5);
  text-align: center;

}



.projects h3 {
  padding-top: 10px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
}

.end {
  height: 60px;
  padding: 5px;
  background-color: rgba(0,0,0, 0.1);
}

#name {
  float: left;
  padding-left: 100px;
  padding-top: 22px;
  font-family: 'Anaheim', sans-serif;
  display: inline-block;
}

#social {
  float: right;
  padding-right: 200px;
  padding-top: 15px;

}

#social img {
  padding-left: 10px;
}

table img {
  width: 350px;
  height: 190px;
  overflow: hidden;
}

table td {
  padding-left: 80px;
  padding-top: 20px;
}

table img:hover {
  transform: scale(1.1);
  transition: all .7s ease-in;
  filter: grayscale(1);
}

table td p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-style: oblique;
}
